.container{
    text-align: center;

    // position: absolute;
    left: 0;
    right: 0;
    margin-top: 50%;
    // transform: translateY(-50%);
}
ion-fab ion-fab-button {
    --background: #E1BEE7; /* Light purple background color */
    --color: #6A1B9A; /* Darker color for the icon */
  }